<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <h1>Login</h1>
    <form action="/user/login/s" method="POST" >
    <div class="form-group">
        <label for="email">email :</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="pass">pass :</label>
        <input type="password" id="pass" name="pass" required>
    </div>
      <button type="sumbit" class="btn">connect</button>
    </form>
  
</body>
</html>